<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kolayehliyet"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9283206876818854~4321642282" />
        <activity
            android:name=".Soru50bolum"
            android:exported="false" />

        <activity
            android:name=".Soru10bolum"
            android:exported="false" />
        <activity
            android:name=".Ozelsoruana"
            android:exported="false" />
        <activity
            android:name=".Soru50ana"
            android:exported="false" />
        <activity
            android:name=".Soru10ana"
            android:exported="false" />
        <activity
            android:name=".Ozelsoru"
            android:exported="false" />
        <activity
            android:name=".istatikler"
            android:exported="false" />
        <activity
            android:name=".Soru50"
            android:exported="false" />
        <activity
            android:name=".Soru10"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>